.card-style {
    padding: 10px;
    height: 405px;
    border: 1px solid gray;
    margin-top: 10px;
    background-color: thistle;
  
  
  }
  .text-area {
    text-align: center;
  
  }

  .card-margin{
      margin: 25px;
  }
  .cls-img{
    width: 320px;
    border-radius: 20px;
    
  }